[Ll]ibrary/
[Tt]emp/
[Bb]uild/
[Bb]uilds/
[Ll]ogs/
[Oo]bj/
[Mm]emoryCaptures/
UserSettings/
*.pidb
*.booproj
*.svd
*.userprefs
*.csproj
*.unityproj
*.sln
*.suo
*.tmp
*.bak
*.orig
*.manifest
*.pdb
.DS_Store
Thumbs.db
